@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(204, 43%, 93%);
    font-family: karla, sans-serif;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card-container {
    width: 600px;
    height: 63vh;
    margin: 2rem;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.37);
}

.top-box {
    width: 100%;
    height: 29vh;
    background-color: #fff;
    padding: 35px;
}

.top-box h1 {
    color: hsl(179, 62%, 43%);
    margin-bottom: 16px;
    font-size: 1.6rem;
}

.top-box h4 {
    color: hsl(71, 73%, 54%);
    margin-bottom: 12px;
    font-weight: 700;
}

.top-box p {
    color: hsl(218, 22%, 67%);
    line-height: 1.5;
}

.bottom-box {
    width: 100%;
    height: 34vh;
    display: flex;
    color: #E6FBFF;
}

.bottom-left-box {
    width: 50%;
    height: 35vh;
    background-color: hsl(179, 62%, 43%);
    padding: 35px;
}

.bottom-left-box h4 {
    margin-bottom: 18px;
}

.prize-container {
    display: flex;
    gap: 10px;
}

.prize {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.per-prize {
    margin-top: 5px;
    font-size: 0.9rem;
    opacity: 0.6;
}

.bottom-left-box p {
    width: 110%;
    margin-bottom: 25px;
}

button {
    background-color: hsl(71, 73%, 54%);
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    height: 6vh;
    border-radius: 5px;
    font-weight: 700;
}

button:hover {
    cursor: pointer;
    background-color: hsl(71, 72%, 45%);
    transform: scale(1.02);
}

.bottom-right-box {
    width: 50%;
    height: 35vh;
    background-color: #4ABEBD;
    padding: 35px;
}

.bottom-right-box h4 {
    margin-bottom: 18px;
}

ul {
    list-style: none;
    opacity: 0.8;
    font-size: 0.85rem;
    line-height: 1.3;
}

@media screen and (max-width: 600px) {
    .card-container, .bottom-left-box, .bottom-right-box {
        width: 100%;
    }
    
}

@media screen and (max-width: 480px) {
    .card-container {
        width: 87%;
        height: 105vh;      
    }
    
    .top-box {
        width: 100%;
        height: 38vh;
        padding: 25px;
    }

    .bottom-box {
        height: 72vh;
        display: flex;
        flex-direction: column;
    }

    .bottom-left-box {
        width: 100%;
        height: 32vh;
        padding: 25px;
    }

    .bottom-right-box {
        width: 100%;
        padding: 25px;
    }
}

@media screen and (max-width: 480px) {

}



/* .attribution { 
    font-size: 11px; 
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
} */